includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - src
    bootstrap: %rootDir%/../../../src/bootstrap.php
    level: 5
    excludes_analyse:
        - src/compiled.php
        - src/Lodash.php
        - src/internal/memoizeCapped.php # Exclude internal function due to dynamic class usage
    ignoreErrors:
        - "#Callable '.*internal.*' invoked with \\d+ parameters, [\\d-]+ required.#"
